Photometric_DB/
**tmp**
iac
.vscode/
preprocess/detectron2
preprocess/normalmap.exr
preprocess/albedo.exr
preprocess/depthmap.exr
preprocess/processed_sessions.txt
preprocess/im0.bmp
preprocess/padding.csv
preprocess/failed_crop.txt
preprocess/oversample.csv
preprocess/scale_images.csv
preprocess/scale_images.csv
preprocess/test.py

Photometric_DB_split/
Results/
Normal_Map/
Albedo/
Depth_Map/
2D_Dataset/
3D_Dataset/
3D_Dataset_Padding/
test/
3D_Dataset/
Dataset/
Dataset_OU/
**__pycache__**
*.pdf
Dataset_256/
checkpoint
Sample_Dataset